#navigator-toolbox {
    height: 0.5rem;
    margin-bottom: -0.5rem;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
    padding-top: 1.5rem;
    height: auto;
    margin-bottom: 0rem;
    opacity: 1;
    overflow: visible;
}

#TabsToolbar { visibility: collapse !important; }

#sidebar-header { visibility: collapse }
